<%- include('partials/header') %>
    <body>
        <section id="landing" class="text-white">
            <%- include('partials/videoBg') %>

            <div class="container">
                <%- include('partials/navbar404') %>

                <div class="container">
                    <div class="d-flex justify-content-center align-items-center mt-10 mb-10">
                        <h2>Sorry We couldn't find that page.</h2>
                    </div>
                </div>
            </section>
    </body>

<%- include('partials/footer') %>
