    <section id="footer" class="shadow-">
        <footer class="container text-success text-center text-lg-left">
            <div class="row">
                <div class="wow slideInLeft col-lg-7" data-wow-offset="200">
                    <div class="row mt-5">
                        <div class="col-lg-6">
                            <h4 class="h2 text-dark" id="new-font-1">0101 Solutions<sup><small>&trade;</small></sup></h4>
                            <p>We came to change the game.</p>
                        </div>
                        <div class="col-lg-6 pl-0 pl-lg-5 border-left mt-5 mt-lg-0" id="contact">
                            <h5>Contacts</h5>
                            <address>
                                Nairobi <br>
                                ZIP Code 01001 <br>
                                Mobile: +254736745458
                            </address>
                        </div>
                    </div>
                </div>
                <div class="wow slideInRight col-lg-5" data-wow-offset="200">
                    <div id="map"></div>
                </div>
            </div>
        </footer>
        <div class="wow slideInUp text-white text-center mt-5 py-3" id="footer-bottom">
            <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved. <br> This website is Created &amp; Maintained by <i class="fa fa-fire"></i><p id="new-font"> 0101 Solutions.</p></p>        
        </div>
    </section>

    </body>
    <!-- Google Maps API -->
    <script src="/javascripts/initMap.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNG49VQI7yuITYgnrA5DHWzDrtEXVstW8&callback=initMap"
    type="text/javascript"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

</html>

