<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8">
    <title id="new-font"><%= title %></title>
    <link rel="stylesheet" href="wow/animate.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/8ac04dd227.js" crossorigin="anonymous"></script>
    <link rel="icon" sizes="32x32" href="media/favicons/favicon-32x32.jpg">
    <link rel="stylesheet" href="stylesheets/styles.css">
</head>