<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="keywords" content="CMS Packages, Professional Web and Mobile Application Developers, E-Commerce Packages, 
        Beautiful UI/UX Designs and Layouts, Mobile Responsiveness, Corporate Package, Round The Clock Support, Mobile App, 
        iOS and Android Apps, Integrate C2B, B2B and B2C Operations, Real-Time Apps, Goal Actualizr, E-Commerce Stores, Portfolio Sites, 
        Blog and News Sites, Travel & Booking Sites, Responsive Websites, Efficient Algorithms, Beautiful Mobile Apps, Clear & 
        Precise Code Documentation, Enterprise Grade Web Applications, 24/7 Systems Maintenance and Upgrades, 0101 Solutions, 
        We came to change the game, Online Financial Consulting, Cyrus Gichuki, Cyrus Gichuki, Software Engineer, Young Software Engineer StartUp">
    <meta name="description" content="0101 Solutions are professional web and mobile application developers that craft enterprise grade web and mobile 
        applications. We build Enterprise Grade Applications after carefully listening and analyzing each of your business
        needs. From Intelligent E-Commerce Systems, to e-health systems to blogs we ensure we deliver,
        with security in practice to help send to the market fully equipped application.>We debug and maintain all our systems for the first 
        three months for free and get to give opinions how we can make the app better. We are here to make the process easier and bridge the gap 
        between clients and devs.">
    <meta charset="utf-8">

    <meta name="theme-color" content="purple">

    <title id="new-font"><%= title %></title>
    <link rel="stylesheet" href="wow/animate.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,700&display=swap" rel="stylesheet" aria-details="">
    <link href="https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/8ac04dd227.js" crossorigin="anonymous"></script>
    <link rel="icon" sizes="32x32" href="media/favicons/favicon-32x32.jpg">
    <link rel="stylesheet" href="stylesheets/styles.css">

        <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async defer src="https://www.googletagmanager.com/gtag/js?id=UA-185751023-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-185751023-1');
    </script>
</head>